/*Animacion Menu*/


/* Estilos generales del menú */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #14080e;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    flex: 0 0 auto;
}

.logo img {
    height: 50px;
    width: auto;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex: 1;
    margin: 0 2rem;
}

.nav-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 700;
    transition: color 0.3s ease;
    white-space: nowrap;
    position: relative;
    padding: 0 1rem;
}

.nav-menu a:not(:last-child)::after {
    content: "|";
    position: absolute;
    right: -1rem;
    color: #ffffff;
    opacity: 0.5;
}

.nav-menu a:hover {
    color: #f7df00;
}

/* Estilos del botón de menú (ícono de hamburguesa) */
.menu-btn {
    display: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Media queries para responsividad */
@media (max-width: 1024px) {
    .nav-menu {
        gap: 1.5rem;
    }
    
    .nav-menu a {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .nav-container {
        padding: 1rem;
    }
    
    .nav-menu {
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 80px);
        background-color: #14080e;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 2rem;
        transition: left 0.3s ease;
        margin: 0;
    }
    
    .nav-menu.active {
        left: 0;
    }
    
    .menu-btn {
        display: block;
    }
    
    .logo img {
        height: 40px;
    }
}